In [1]:
import pandas as pd

Let's grab some vehicle updates for the MBTA. Go to http://mbta-history.apptic.xyz and download a zipped CSV file. Unzip and untar it, then read it into a dataframe:

In [14]:
# Replace the path below
df = pd.read_csv("~/Downloads/2017-09-12.csv")
df.head()

,trip_id,trip_start,stop_id,stop_sequence,vehicle_id,status,timestamp,lat,lon
0,35271979,2017-09-12,6407,50,y1629,STOPPED_AT,2017-09-13 06:02:19,42.245480,-71.121010
1,35241143,2017-09-12,11148,28,y1879,INCOMING_AT,2017-09-13 06:01:45,42.328892,-71.084808
2,34874718,2017-09-12,41031,33,y0769,IN_TRANSIT_TO,2017-09-13 06:02:16,42.242290,-71.004929
3,100_0,2017-09-12,70107,310,10078,IN_TRANSIT_TO,2017-09-13 06:02:13,42.340118,-71.165123
4,35122583,2017-09-12,382,17,y1251,STOPPED_AT,2017-09-13 06:01:59,42.300446,-71.086067

CSV doesn't have any special handling for dates, so we need to convert the timestamp to an actual datetime, which can be used in comparisons.

In [59]:
df.timestamp = pd.to_datetime(df.timestamp).dt.tz_localize("UTC").dt.tz_convert("US/Eastern")

# TODO: Could group by the trip_id and take the maximum timestamp

In [71]:
# df["max_timestamp"] = df.groupby(["trip_id", "timestamp"]).max().timestamp
# df.head(10)

In [62]:
stops = df.query("status == 'STOPPED_AT'").reset_index()
stops.head()

,index,trip_id,trip_start,stop_id,stop_sequence,vehicle_id,status,timestamp,lat,lon,max_timestamp
0,0,35271979,2017-09-12,6407,50,y1629,STOPPED_AT,2017-09-13 02:02:19-04:00,42.245480,-71.121010,NaT
1,4,35122583,2017-09-12,382,17,y1251,STOPPED_AT,2017-09-13 02:01:59-04:00,42.300446,-71.086067,NaT
2,6,35122583,2017-09-12,1736,14,y1251,STOPPED_AT,2017-09-13 02:00:59-04:00,42.294285,-71.088036,NaT
3,9,35241886,2017-09-12,150,36,y1753,STOPPED_AT,2017-09-13 02:00:24-04:00,42.342514,-71.057388,NaT
4,12,35086428,2017-09-12,2320,9,y4123,STOPPED_AT,2017-09-13 02:00:15-04:00,42.394157,-71.126450,NaT

Let's define some functions for pulling in information from the MBTA's GTFS manifest.

In [11]:
from zipfile import ZipFile
from io import BytesIO, TextIOWrapper
from urllib.request import urlopen

def get_manifest(url="http://www.mbta.com/uploadedfiles/MBTA_GTFS.zip"):
    with urlopen(url) as u:
        return ZipFile(BytesIO(u.read()))
    
def get_manifest_item(manifest, name):
    data = TextIOWrapper(BytesIO(manifest.read(name + ".txt")), 
                         encoding="utf-8", line_buffering=True)
    return pd.read_csv(data)

In [12]:
manifest = get_manifest()

In [63]:
# Stop times for each trip and stop
stop_times = get_manifest_item(manifest, "stop_times")
trips = get_manifest_item(manifest, "trips")

# Add the route_ids and trip_headsigns
stop_times = pd.merge(stop_times[["trip_id", "stop_sequence", "arrival_time"]],
                      trips[["trip_id", "route_id", "trip_headsign"]],
                      on="trip_id")
stop_times

/Users/brian/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/brian/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

,trip_id,stop_sequence,arrival_time,route_id,trip_headsign
0,Logan-22-Weekday-trip,1,08:00:00,Logan-22,Loop
1,Logan-22-Weekday-trip,2,08:04:00,Logan-22,Loop
2,Logan-22-Weekday-trip,3,08:09:00,Logan-22,Loop
3,Logan-22-Weekday-trip,4,08:12:00,Logan-22,Loop
4,Logan-22-Weekday-trip,5,08:17:00,Logan-22,Loop
5,Logan-22-Weekday-trip,6,08:21:00,Logan-22,Loop
6,Logan-22-Weekday-trip,7,08:26:00,Logan-22,Loop
7,Logan-22-Weekend-trip,1,12:00:00,Logan-22,Loop
8,Logan-22-Weekend-trip,2,12:04:00,Logan-22,Loop
9,Logan-22-Weekend-trip,3,12:09:00,Logan-22,Loop
10,Logan-22-Weekend-trip,4,12:12:00,Logan-22,Loop
11,Logan-22-Weekend-trip,5,12:17:00,Logan-22,Loop
12,Logan-22-Weekend-trip,6,12:21:00,Logan-22,Loop
13,Logan-22-Weekend-trip,7,12:26:00,Logan-22,Loop
14,Logan-33-Weekday-trip,1,08:00:00,Logan-33,Loop
15,Logan-33-Weekday-trip,2,08:04:00,Logan-33,Loop
16,Logan-33-Weekday-trip,3,08:09:00,Logan-33,Loop
17,Logan-33-Weekday-trip,4,08:12:00,Logan-33,Loop
18,Logan-33-Weekday-trip,5,08:17:00,Logan-33,Loop
19,Logan-33-Weekday-trip,6,08:21:00,Logan-33,Loop
20,Logan-33-Weekday-trip,7,08:26:00,Logan-33,Loop
21,Logan-33-Weekend-trip,1,12:00:00,Logan-33,Loop
22,Logan-33-Weekend-trip,2,12:04:00,Logan-33,Loop
23,Logan-33-Weekend-trip,3,12:09:00,Logan-33,Loop
24,Logan-33-Weekend-trip,4,12:12:00,Logan-33,Loop
25,Logan-33-Weekend-trip,5,12:17:00,Logan-33,Loop
26,Logan-33-Weekend-trip,6,12:21:00,Logan-33,Loop
27,Logan-33-Weekend-trip,7,12:26:00,Logan-33,Loop
28,Logan-55-Weekday-trip,1,00:00:00,Logan-55,Loop
29,Logan-55-Weekday-trip,2,00:04:00,Logan-55,Loop
...,...,...,...,...,...
122252,Boat-F4-1830-Long-Weekday,1,18:30:00,Boat-F4,Charlestown Navy Yard
122253,Boat-F4-1830-Long-Weekday,2,18:40:00,Boat-F4,Charlestown Navy Yard
122254,Boat-F4-0645-Long-Weekday,1,06:45:00,Boat-F4,Charlestown Navy Yard
122255,Boat-F4-0645-Long-Weekday,2,06:55:00,Boat-F4,Charlestown Navy Yard
122256,Boat-F4-0700-Long-Weekday,1,07:00:00,Boat-F4,Charlestown Navy Yard
122257,Boat-F4-0700-Long-Weekday,2,07:10:00,Boat-F4,Charlestown Navy Yard
122258,Boat-F4-1900-Long-Weekday,1,19:00:00,Boat-F4,Charlestown Navy Yard
122259,Boat-F4-1900-Long-Weekday,2,19:10:00,Boat-F4,Charlestown Navy Yard
122260,Boat-F4-0715-Long-Weekday,1,07:15:00,Boat-F4,Charlestown Navy Yard
122261,Boat-F4-0715-Long-Weekday,2,07:25:00,Boat-F4,Charlestown Navy Yard
122262,Boat-F4-0730-Long-Weekday,1,07:30:00,Boat-F4,Charlestown Navy Yard
122263,Boat-F4-0730-Long-Weekday,2,07:40:00,Boat-F4,Charlestown Navy Yard
122264,Boat-F4-1930-Long-Weekday,1,19:30:00,Boat-F4,Charlestown Navy Yard
122265,Boat-F4-1930-Long-Weekday,2,19:40:00,Boat-F4,Charlestown Navy Yard
122266,Boat-F4-0745-Long-Weekday,1,07:45:00,Boat-F4,Charlestown Navy Yard
122267,Boat-F4-0745-Long-Weekday,2,07:55:00,Boat-F4,Charlestown Navy Yard
122268,Boat-F4-0800-Long-Weekday,1,08:00:00,Boat-F4,Charlestown Navy Yard
122269,Boat-F4-0800-Long-Weekday,2,08:10:00,Boat-F4,Charlestown Navy Yard
122270,Boat-F4-2000-Long-Weekday,1,20:00:00,Boat-F4,Charlestown Navy Yard
122271,Boat-F4-2000-Long-Weekday,2,20:10:00,Boat-F4,Charlestown Navy Yard
122272,Boat-F4-0815-Long-Weekday,1,08:15:00,Boat-F4,Charlestown Navy Yard
122273,Boat-F4-0815-Long-Weekday,2,08:25:00,Boat-F4,Charlestown Navy Yard
122274,Boat-F4-0830-Long-Weekday,1,08:30:00,Boat-F4,Charlestown Navy Yard
122275,Boat-F4-0830-Long-Weekday,2,08:40:00,Boat-F4,Charlestown Navy Yard
122276,Boat-F4-0845-Long-Weekday,1,08:45:00,Boat-F4,Charlestown Navy Yard
122277,Boat-F4-0845-Long-Weekday,2,08:55:00,Boat-F4,Charlestown Navy Yard
122278,Boat-F4-0900-Long-Weekday,1,09:00:00,Boat-F4,Charlestown Navy Yard
122279,Boat-F4-0900-Long-Weekday,2,09:10:00,Boat-F4,Charlestown Navy Yard
122280,Boat-F4-0930-Long-Weekday,1,09:30:00,Boat-F4,Charlestown Navy Yard
122281,Boat-F4-0930-Long-Weekday,2,09:40:00,Boat-F4,Charlestown Navy Yard

Let's merge the schedule information with the observed data. Join the rows together wherever the trip_id and stop_sequence are the same.

In [64]:
joined = pd.merge(stops, stop_times, how="inner", on=["trip_id", "stop_sequence"])
joined.head()

,index,trip_id,trip_start,stop_id,stop_sequence,vehicle_id,status,timestamp,lat,lon,max_timestamp,arrival_time,route_id,trip_headsign
0,432,35291700,2017-09-12,70091,160,5450709B,STOPPED_AT,2017-09-13 01:40:37-04:00,42.293201,-71.065857,NaT,24:59:00,Red,Ashmont
1,644,35291700,2017-09-12,70085,130,5450709B,STOPPED_AT,2017-09-13 01:30:02-04:00,42.320572,-71.052589,NaT,24:51:00,Red,Ashmont
2,741,35291704,2017-09-12,70066,200,545070BD,STOPPED_AT,2017-09-13 01:27:14-04:00,42.388329,-71.118942,NaT,25:04:00,Red,Alewife
3,1045,35291700,2017-09-12,70087,140,5450709B,STOPPED_AT,2017-09-13 01:33:02-04:00,42.310558,-71.053726,NaT,24:53:00,Red,Ashmont
4,1094,35291700,2017-09-12,70083,110,5450709B,STOPPED_AT,2017-09-13 01:25:24-04:00,42.330219,-71.056999,NaT,24:48:00,Red,Ashmont

Since stops are recurring, scheduled arrival times are recorded as wallclock times in the format hh:mm:ss. Since they are anchored to the start of the day, the hour can be greater than 24.

In [54]:
from datetime import datetime, timedelta
import pytz

timezone = pytz.timezone("US/Eastern")

def convert_clock_time(row):
    y, M, d = map(int, row.trip_start.split("-"))
    dt = timezone.localize(datetime(y, M, d))
    h, m, s = map(int, row.arrival_time.split(":", 2))
    # This is here to avoid DST issues
    if h >= 24:
        dt += timedelta(days=1)
        h %= 24
    return dt.replace(hour=h, minute=m, second=s)

Now let's use the function to convert the scheduled arrival time to a timestamp, using the trip start date.

In [65]:
joined["scheduled_arrival_time"] = joined.apply(convert_clock_time, axis=1)
joined

,index,trip_id,trip_start,stop_id,stop_sequence,vehicle_id,status,timestamp,lat,lon,max_timestamp,arrival_time,route_id,trip_headsign,scheduled_arrival_time
0,432,35291700,2017-09-12,70091,160,5450709B,STOPPED_AT,2017-09-13 01:40:37-04:00,42.293201,-71.065857,NaT,24:59:00,Red,Ashmont,2017-09-13 00:59:00-04:00
1,644,35291700,2017-09-12,70085,130,5450709B,STOPPED_AT,2017-09-13 01:30:02-04:00,42.320572,-71.052589,NaT,24:51:00,Red,Ashmont,2017-09-13 00:51:00-04:00
2,741,35291704,2017-09-12,70066,200,545070BD,STOPPED_AT,2017-09-13 01:27:14-04:00,42.388329,-71.118942,NaT,25:04:00,Red,Alewife,2017-09-13 01:04:00-04:00
3,1045,35291700,2017-09-12,70087,140,5450709B,STOPPED_AT,2017-09-13 01:33:02-04:00,42.310558,-71.053726,NaT,24:53:00,Red,Ashmont,2017-09-13 00:53:00-04:00
4,1094,35291700,2017-09-12,70083,110,5450709B,STOPPED_AT,2017-09-13 01:25:24-04:00,42.330219,-71.056999,NaT,24:48:00,Red,Ashmont,2017-09-13 00:48:00-04:00
5,1143,35291704,2017-09-12,70068,190,545070BD,STOPPED_AT,2017-09-13 01:24:07-04:00,42.374069,-71.118759,NaT,25:02:00,Red,Alewife,2017-09-13 01:02:00-04:00
6,1193,35291700,2017-09-12,70081,100,5450709B,STOPPED_AT,2017-09-13 01:23:13-04:00,42.342560,-71.057121,NaT,24:46:00,Red,Ashmont,2017-09-13 00:46:00-04:00
7,1380,35291704,2017-09-12,70064,210,545070BD,STOPPED_AT,2017-09-13 01:36:28-04:00,42.396759,-71.122414,NaT,25:06:00,Red,Alewife,2017-09-13 01:06:00-04:00
8,1381,35291700,2017-09-12,70089,150,5450709B,STOPPED_AT,2017-09-13 01:36:09-04:00,42.300018,-71.061829,NaT,24:56:00,Red,Ashmont,2017-09-13 00:56:00-04:00
9,1498,35291704,2017-09-12,70070,180,545070BD,STOPPED_AT,2017-09-13 01:17:08-04:00,42.365540,-71.104012,NaT,24:57:00,Red,Alewife,2017-09-13 00:57:00-04:00
10,1598,35291704,2017-09-12,70072,170,545070BD,STOPPED_AT,2017-09-13 01:13:28-04:00,42.362461,-71.085808,NaT,24:54:00,Red,Alewife,2017-09-13 00:54:00-04:00
11,1788,35291700,2017-09-12,70079,90,5450709B,STOPPED_AT,2017-09-13 01:11:07-04:00,42.352520,-71.055328,NaT,24:43:00,Red,Ashmont,2017-09-13 00:43:00-04:00
12,2133,35291751,2017-09-12,70064,210,54507375,STOPPED_AT,2017-09-13 01:04:52-04:00,42.396759,-71.122414,NaT,25:02:00,Red,Alewife,2017-09-13 01:02:00-04:00
13,2260,35291700,2017-09-12,70077,80,5450709B,STOPPED_AT,2017-09-13 01:08:57-04:00,42.355240,-71.060181,NaT,24:42:00,Red,Ashmont,2017-09-13 00:42:00-04:00
14,2397,35291751,2017-09-12,70066,200,54507375,STOPPED_AT,2017-09-13 01:02:58-04:00,42.388329,-71.118942,NaT,25:00:00,Red,Alewife,2017-09-13 01:00:00-04:00
15,2438,35291780,2017-09-12,70101,200,5450736F,STOPPED_AT,2017-09-13 01:02:49-04:00,42.252029,-71.005508,NaT,24:56:00,Red,Braintree,2017-09-13 00:56:00-04:00
16,2590,35291704,2017-09-12,70076,150,545070BD,STOPPED_AT,2017-09-13 01:00:57-04:00,42.356499,-71.062630,NaT,24:49:00,Red,Alewife,2017-09-13 00:49:00-04:00
17,2666,35291780,2017-09-12,70099,190,5450736F,STOPPED_AT,2017-09-13 01:00:03-04:00,42.266800,-71.020630,NaT,24:53:00,Red,Braintree,2017-09-13 00:53:00-04:00
18,2667,35291751,2017-09-12,70068,190,54507375,STOPPED_AT,2017-09-13 00:59:55-04:00,42.374069,-71.118759,NaT,24:58:00,Red,Alewife,2017-09-13 00:58:00-04:00
19,2895,35291780,2017-09-12,70097,180,5450736F,STOPPED_AT,2017-09-13 00:57:50-04:00,42.275761,-71.030243,NaT,24:51:00,Red,Braintree,2017-09-13 00:51:00-04:00
20,3168,35291751,2017-09-12,70072,170,54507375,STOPPED_AT,2017-09-13 00:54:23-04:00,42.362461,-71.085808,NaT,24:53:00,Red,Alewife,2017-09-13 00:53:00-04:00
21,3170,35291734,2017-09-12,70066,200,54506055,STOPPED_AT,2017-09-13 00:54:46-04:00,42.388329,-71.118942,NaT,24:48:00,Red,Alewife,2017-09-13 00:48:00-04:00
22,3361,35291751,2017-09-12,70070,180,54507375,STOPPED_AT,2017-09-13 00:56:45-04:00,42.365540,-71.104012,NaT,24:55:00,Red,Alewife,2017-09-13 00:55:00-04:00
23,3362,35291734,2017-09-12,70064,210,54506055,STOPPED_AT,2017-09-13 00:56:53-04:00,42.396759,-71.122414,NaT,24:50:00,Red,Alewife,2017-09-13 00:50:00-04:00
24,3403,35291744,2017-09-12,70064,210,54503084,STOPPED_AT,2017-09-13 00:53:04-04:00,42.396759,-71.122414,NaT,24:43:00,Red,Alewife,2017-09-13 00:43:00-04:00
25,3405,35291693,2017-09-12,70091,160,545073D8,STOPPED_AT,2017-09-13 00:52:55-04:00,42.293201,-71.065857,NaT,24:47:00,Red,Ashmont,2017-09-13 00:47:00-04:00
26,3532,35291744,2017-09-12,70066,200,54503084,STOPPED_AT,2017-09-13 00:50:55-04:00,42.388329,-71.118942,NaT,24:41:00,Red,Alewife,2017-09-13 00:41:00-04:00
27,3534,35291693,2017-09-12,70089,150,545073D8,STOPPED_AT,2017-09-13 00:50:37-04:00,42.300018,-71.061829,NaT,24:44:00,Red,Ashmont,2017-09-13 00:44:00-04:00
28,3715,35291751,2017-09-12,70076,150,54507375,STOPPED_AT,2017-09-13 00:50:04-04:00,42.356499,-71.062630,NaT,24:48:00,Red,Alewife,2017-09-13 00:48:00-04:00
29,3806,35291700,2017-09-12,70075,70,5450709B,STOPPED_AT,2017-09-13 00:49:41-04:00,42.356480,-71.062653,NaT,24:40:00,Red,Ashmont,2017-09-13 00:40:00-04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16156,682793,CR-Weekday-Spring-17-500,2017-09-12,Worcester,1,1513,STOPPED_AT,2017-09-12 04:10:59-04:00,42.262451,-71.789833,NaT,4:45:00,CR-Worcester,South Station,2017-09-12 04:45:00-04:00
16157,682805,CR-Weekday-Spring-17-500,2017-09-12,Worcester,1,1513,STOPPED_AT,2017-09-12 04:09:28-04:00,42.262451,-71.789833,NaT,4:45:00,CR-Worcester,South Station,2017-09-12 04:45:00-04:00
16158,682820,CR-Weekday-Spring-17-500,2017-09-12,Worcester,1,1513,STOPPED_AT,2017-09-12 04:07:28-04:00,42.262451,-71.789833,NaT,4:45:00,CR-Worcester,South Station,2017-09-12 04:45:00-04:00
16159,682828,CR-Weekday-Spring-17-500,2017-09-12,Worcester,1,1513,STOPPED_AT,2017-09-12 04:05:58-04:00,42.262451,-71.789833,NaT,4:45:00,CR-Worcester,South Station,2017-09-12 04:45:00-04:00
16160,682835,CR-Weekday-Spring-17-500,2017-09-12,Worcester,1,1513,STOPPED_AT,2017-09-12 04:03:50-04:00,42.262451,-71.789833,NaT,4:45:00,CR-Worcester,South Station,2017-09-12 04:45:00-04:00
16161,682867,CR-Weekday-Spring-17-500,2017-09-12,Worcester,1,1513,STOPPED_AT,2017-09-12 04:28:00-04:00,42.262451,-71.789833,NaT,4:45:00,CR-Worcester,South Station,2017-09-12 04:45:00-04:00
16162,681525,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:45:18-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16163,681658,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:43:18-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16164,681820,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:38:17-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16165,682055,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:36:48-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16166,682134,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:34:47-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16167,682180,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:33:17-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16168,682242,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:41:48-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16169,682352,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:39:47-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16170,682447,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:31:17-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16171,682479,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:29:47-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16172,682574,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:26:17-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16173,682606,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:24:47-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16174,682658,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:22:46-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16175,682689,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:21:16-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16176,682713,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:19:17-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16177,682729,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:17:45-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16178,682747,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:16:15-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16179,682764,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:14:15-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16180,682778,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:12:45-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16181,682794,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:10:45-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16182,682806,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:09:15-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16183,682821,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:07:45-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16184,682829,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:05:33-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00
16185,682868,CR-Weekday-Spring-17-802,2017-09-12,Wickford Junction,1,1723,STOPPED_AT,2017-09-12 04:27:47-04:00,41.582191,-71.490761,NaT,4:45:00,CR-Providence,South Station,2017-09-12 04:45:00-04:00

Let's add a column with the delay:

In [72]:
joined["delay"] = joined.timestamp - joined.scheduled_arrival_time

What was the average delay for the Red line?

In [73]:
joined.query('route_id == "Red"').delay.mean()

Timedelta('0 days 00:07:10.492668')

In [88]:
joined.query('route_id == "Blue"').trip_id.nunique()

0